*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vh;
    overflow-x: hidden;
    padding: 20px;
    background-image: url(../images/fundosportlife.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


#ola{
    border-radius: 80%;
}

.wrap-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vh;
}

.card{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

h1,h2{
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(73, 73, 252);
    color: #ffffff;
    font-weight: 900;
    letter-spacing: 2px;
}

@media (width >= 1024px){
    body{
        background-image: url(/images/fundosportlife1.jpg);
}
    .wrap-card{
        flex-direction: row;
        gap: 2vw;
    }
}